@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('header.css');

body {
  background-color: #3cacff;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
}

.left{
  float: left;
  text-align: left;
}

.right{
  float: right;
  text-align: left;
}

.right img {
	float: left;
	display: block;
	margin-right: 20px;
}

section.sidebar, section.mainbar {
  display: table-cell;
}

section.sidebar {
  margin-top: 75px;
  background-color: #2d2e30;
  float: left;
  width: 20%;
  color: white;
  height: 900px;
  z-index: 1;
  box-shadow: 2px 0px 5px green;
  text-align: left; 
}

section.mainbar {
  margin-top: 75px;
  background-color: #c5c5c5;
  float: right;
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  /*color: white;*/
  height: 900px;
  text-align: left;
}

.content {
	margin: 0 auto;
	margin-top: 20px;
	width: 95%;
	/*background-color: green;*/
}

th {
	text-align: center;
	background-color: blue;
	color: white;
}

tr:hover {
	background-color: #4286f4;
	color: white;
}

tr:nth-child(even) {
	background-color: #3cacff;
}

table {
	border-collapse: collapse;
}