header {
  width: 100%;
  line-height: 75px;
  background-color: white;
  display: block;
  position: fixed;
  z-index: 999;
  margin: 0 auto;
  box-shadow: 0px 3px 10px black;
}

ul{
  padding: 0;
  /*margin-top: 35px;*/
}

li{
  display: inline;
  padding: 30px;
  font-size: 18pt;
  font-weight: bold;
  text-shadow: 0px 2px 3px black;
  color: black;
}

.nav{
  width: 33.33%;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

a{
  text-decoration:none;
  color: #4286f4;
}

.nav img{
  height: 75px;
  vertical-align: middle;
}

.logo {
  display: inline-block;
}

.menu ul{
  margin-top: 15px;
}

.logo img {
  line-height: 75px; 
}