@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
  background-color: #3cacff;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  background-image: url(../images/foto/wp5.jpg) !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center top;
}

.form-box {
  background-color: /*#ffffff*/ rgba(255, 255, 255, 0.8);
  padding: 10px;
  width: 500px;
  height: 350px;
  border-radius: 10px;
  margin: 0 auto;
  position: relative;
  top: 125px;
  box-shadow: 0px 0px 10px blue;
  border: none;
  animation: form 5s linear 2s infinite alternate;
}

@keyframes form {
    0%   {box-shadow: 0px 0px 10px black; border: none;}
    25%  {box-shadow: 0px 0px 10px #4286f4; border: none;}
    50%  {box-shadow: 0px 0px 10px red; border: none;}
    75%  {box-shadow: 0px 0px 10px yellow; border: none;}
    100% {box-shadow: 0px 0px 10px green; border: none;}
}

.form-logo img {
  height: 75px;
}

.input input {
  width: 90%;
  margin-top: 20px;
  height: 30px;
  border-radius: 10px;
  text-align: center;
}

.info {
  margin-top: 20px;
  margin-bottom: 20px;
}

.input input:hover {
  width: 90%;
  height: 30px;
  border-radius: 10px;
  background-color: #4286f4;
  color: #ffffff;
}

.input input .submit {
  width: 25%;
  height: 30px;
  background-color: #4286f4;
  color: #ffffff;
}

.input input .submit:hover {
  width: 25%;
  height: 30px;
  background-color: #0eaf15;
  color: #ffffff;
}