@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('header.css');

body {
  background-color: #3cacff;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
}

.left{
  float: left;
  text-align: right;
}

.right{
  float: right;
  text-align: left;
}

.box {
  top: 100px;
  bottom: 25px;
  width: 85%;
  height: 1400px;
  background-color: white;
  border-radius: 20px;
  margin: 0 auto;
  box-shadow: 0px 0px 20px black;
  display: block;
  position: relative;
}

.box .header {
  background-color: #4286f4;
  color: #FFFFFF;
  line-height: 50px;
  font-weight: bold;
  font-size: 18pt;
  text-shadow: 0px 2px 5px black;
  width: 100%;
  margin: 0 auto;
  display: block;
  position: absolute;
  border-radius: 20px 20px 0px 0px;
  top: 0;
  z-index: 1;
  /*animation: kelapkelip 5s linear 2s infinite alternate;*/
}

.title {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  /*font-size: 32pt;*/
}

.box .footer-wrapper {
  background-color: #1D1D1D;
  border-radius: 0px 0px 20px 20px;
  color: #FFFFFF;
  width: 100%;
  margin: 0 auto;
  line-height: 200px;
  display: block;
  position: absolute;
  bottom: 0;
  font-size: 12pt;
  vertical-align: baseline;
}

.footer-bottom {
  /*margin-top: 20px;*/
  /*display: inline-block;*/
  display: block;
  vertical-align: middle;
  line-height: normal;
  clear: both;
  position: relative;
}

.footer-left {
  width: 50%;
  display: inline-block;
  /*padding: 10px;*/
  float: left;
  text-align: left;
  position: relative;
}

.footer-right {
  width: 50%;
  display: inline-block;
  /*padding: 10px;*/
  float: right;
  text-align: right;
  position: relative;
}

.footer {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  /*position: absolute;*/
}

.active {
  /*background-color: blue;*/
  animation: kelapkelip 5s linear 2s infinite alternate;
  /*box-shadow: 0px 2px 5px black;*/
}

li.active a  {
  color: #4286f4;
  animation: klapklip 5s linear 2s infinite alternate;
}

@keyframes kelapkelip {
    0%   {background-color:white;}
    /*25%  {background-color:yellow;}*/
    50%  {background-color:#4286f4; box-shadow: 0px 2px 5px black;}
    /*75%  {background-color:green;}
    100% {background-color:red;}*/
}

@keyframes klapklip {
    0%   {color:#4286f4;}
    /*25%  {background-color:yellow;}*/
    50%  {color:white;}
    /*75%  {background-color:green;}
    100% {background-color:red;}*/
}

li:hover {
  background-color: #4286f4;
  box-shadow: 0px 2px 5px black;
}

li:hover a {
  color: white;
}

.box .body {
  /*background-color: red;*/
  width: 100%;
  /*line-height: auto;*/
  margin: 0 auto;
  display: block;
  position: absolute;
  margin-top: 50px;
  text-align: left;
}

.row {
  display: block;
  width: 95%;
  margin: 0 auto;
  /*background-color: green;*/
}

.berita-narasi {
  /*background-color: yellow;*/
  height: 150px;
  width: 85%;
  position: relative;
  display: inline-block;
  float: left;
  font-size: 14pt;
}

.berita-foto {
  /*background-color: pink;*/
  height: 150px;
  width: 15%;
  position: relative;
  display: inline-block;
  float: right;
  text-align: center;
}

.berita-judul {
  /*background-color: blue;*/
  width: 100%;
  line-height: 50px;
  display: block;
  /*clear: both;*/
  font-weight: bold;
  font-size: 16pt;
  margin-top: 10px;
  padding: 5px;
}

.detail-berita-foto {
  text-align: center;
}

.detail-berita-narasi {
  height: 150px;
  width: 100%;
  position: relative;
  display: inline-block;
  float: left;
  font-size: 14pt;
}